/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require normalize
 *= require bootstrap.min
 *= require perfect-scrollbar.min
 */

@import "bourbon";
@import "style";
@import "font-awesome";

/* tmp fix for flip bug in chrome */
.item {
  .back { display: none; }
  &.flip .back { display: block; }
}

/* use template instead of css to show/hide - less edge cases */
.cart-choose { display: block !important; }

/* sweet god */
.navbar-fixed-bottom .cart .item .right .rate .price { display: block; }
.navbar-fixed-bottom .cart .item .right .rate .total span { display: inline; }

#goals div i { display: inline; }

.hide { display: none !important; }
.hide-easy { display: none; }

.icon-selected {
  margin-top: 0 !important;
  margin-left: 15px;
}

#header-top {
  opacity: 1;
  @include animation(fadeIn $tm*2 ease-in);
}

#search {
  opacity: 1;
  @include animation(fadeIn $tm*4 ease-in);
}

#goals {
  opacity: 1;
  @include animation(fadeIn $tm*6 ease-in);
}

.item {
  opacity: 1;
}

@include keyframes(fadeIn) {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

#goals div span {
  display: inline;
}

#goals div > span {
  display: block;
  margin-top: 20px;
  line-height: 26px;
}

.item .wrapper .caption h3 a span {
  color: #333333;
  font-weight: 300;
  margin-right: 0;
}

.item .wrapper .caption h3 a span.price {
  margin-right: 10px;

  font-weight: 400;
  color: #6bbe58;
}

.item-full .box .main .parameters p span {
  padding: 0;
  margin: 0;
}

.item-full .box .main .parameters p > span {
  padding: 7px 12px;
  margin: 10px 10px 10px 0;
}

a [class^="icon-"], a [class*=" icon-"] {
  display: inline-block;
}

.item {
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

.enumerate-empty {
  margin: 25px 0;

  display: none;
}

.products-downloaded .enumerate-empty {
  display: block;
}

.container.steps {
  overflow: scroll;
}