/************************** Shopping Cart **************************/
.navbar-fixed-bottom {
	bottom: -140px;
	@include transition($tm);
	span.pull-right { padding: 10px 14px; }
	.fixed-opened { bottom: 0; }
	.navbar-inner {
		background: white !important;
		.brand, i.icon-shopping-cart {
			font-weight: normal;
			color: $green;
		}
		i.icon-shopping-cart {
			@include position(relative, 2px 0 0 0);
			margin-right: 10px;
		}
	}
	span.cart-count { line-height: 40px; @include position(relative, 3px 0 0 0);}
	&.opened, &.fixed-opened {
		.navbar-inner {
			background: $lightgrey !important;
			box-shadow: 0 40px 0 0 $green inset;
			border: 0;
			i { color: white; }
		}
		#cart-toggle {
			@include transform(rotate(180deg));
		}
		.brand {
			@include clear-efs;
			@include clear-mns;
			line-height: 40px;
			margin-right: 20px;
			color: white;
		}
		#lock {
			padding-bottom: 0; 
			i {
				color: white;
				margin-top: -5px;
				&:hover { @include transform(rotate(360deg)); }
			}
			position: relative;
			.tooltip {
				left: -100px !important;
			}
		}
		.cart {
			top: 0
		}
	}
	.cart {
		@include position(relative(-140px 0 0 0));
		#items-cart {
			position: relative;
			float: left;
			.scrolls {
				position: relative;
				overflow: hidden;
				.inner {
					height: 140px;
				}
			}
		}
	}
	.quantity, .rate {
		width: 50px;
		text-align: center;
	}
	.quantity {
		input {
			width: 10px;
			border: 0;
			box-shadow: none;
			background: transparent;
			@include clear-mns();
			color: $darkgrey;
			height: 28px;
			line-height: 28px;
			@include position(relative, -7px 0 0 0);
		}
		span {
			margin: {
				top: 11px;
				left: 3px;
			}
			display: inline-block;
			width: 4px;
			line-height: 4px;
			i { color: $darkgrey; }
		}
	}
	.rate {
		line-height: 50px;
		color: $green;
		font-weight: 700;
	}
	.summary {
		position: relative;
		padding: 20px;
		background: white;
		height: 100px;
		width: 100px;
		border-left: 1px solid $b1;
		border-right: 1px solid $b1;
		.subtotal {
			height: 50px; width: 100px;
			display: block;
			color: $orange;
			font-size: 24px;
			line-height: 50px;
			text-align: center;
		}
		button {
			height: 50px; width: 100px;
			margin: 0;
		}
		i.icon-caret-left {
			cursor: pointer;
			@include position(absolute, 40% 0 0 10%);
			background: $green;
			display: none;
		}
	}
}
