/************************** Checkout **************************/

#checkout {
	z-index: -1;
	opacity: 0;
	@include transition(opacity $tm);
	@include full;
	@include position(fixed, 0px 0px 0 0);
	&.view {
		z-index: 1050;
		opacity: 1;
		@include transition(opacity $tm);
	}
	background: $grey;
	#checkout-navigation {
		width: 90%;
		margin: 0 5%;
		@include position(fixed,0 0 20px 0px);
		border: $bs $b1 solid;
		.prev, .next, .step {
			float: left;
			background: white;
		}
		i.prev, i.next {
			font-size: 36px;
		}
		i.prev { @include position(absolute, -12px 0 0 -20px);}
		i.next {
			@include position(absolute, -12px -20px 0 0);
			cursor: pointer;
			&:hover {
				background: $green;
				color: white;
			}
		}
		.step {
			width: 20%;
			height: 30px;
			line-height: 30px;
			&.active {
				background: $green;
				color: white;
			}
			&.next {
				@include bg-col(white,$b1);
				cursor: pointer;
			}
			&:nth-child(2) { width: 15%; padding-left: 5%; }
			&:nth-last-child(2) { width: 15%; padding-right: 5%; }
		}
	}
	header {
		@include position(fixed,0px 0 0 0px);
		width: 100%;
		background: white;
		border-bottom: 1px solid $b1;
		h2 {
			font-weight: 300;
		}
		h2 {
			float: left;
			line-height: 40px;
			margin: 10px 20px 15px 0;
		}
		span {
			&.total { color: $green; margin: 10px 20px 15px 0; margin-right: 5px; font-size: 16px; display: block; float: left; line-height: 40px; }
			// &:nth-child(3) { color: $b1; }
		}
		i {
			float: right;
			margin-top: 20px;
			cursor: pointer;
		}
	}
	.container.steps {
		overflow: hidden;
		height: 100%;
		section {
			padding: 80px 0;
			display: none;
		}
		.btn {
			margin: 16px 0 16px 20px;
		}
		section.active {
			display: block;
		}
		section .step-content {
			clear: both;
			overflow: hidden;
			th { text-transform: uppercase; }
			.left-col, .right-col {
				width: 45%;
				float: left;
			}
			.left-col {
				margin-right: 4%;
				padding-right: 5%;
				border-right: 1px $mediumgrey solid;
			}
		}
		.table {
			td {
				vertical-align: middle;
			}
			.image img {
				max-height: 80px;
				width: auto;
				padding: 10px;
				border: 1px solid $b1;
				background: white;
			}
			td.name {
				h3 {
					font-weight: 300;
					margin: 0 0 4px 0;
					line-height: 1em;
				}
				span {
					color: $mediumgrey;
					font-size: 14px;
					font-weight: normal;
				}
			}
			.qty, .price { text-align: center; }
			td.qty { color: $mediumgrey; }
			.total { text-align: right; }
			td.total { color: $green; }
		}
		section[data-name="address"] {
			h4 {
				font-weight: 300;
				margin-bottom: 20px;
				color: $green;
			}
			form p {
				text-align: left;
				input {
					width: 60%;
				}
			}
			.right-col {
				.show-bill {
					cursor: pointer;
				}
				i { margin-left: 10px; }
				form {
					display: none;
				}
			}
		}
		section[data-name="delivery"] {
			label {
				display: block;
				float: left;
				width: 30%;
				&:nth-child(2) {
					margin: {
						left: 5%; right: 5%;
					}
				}
			}
			.radios {
				margin: 20px 0;
			}
		}
		section[data-name="payment"] {
			.step-content {
				max-width: 600px;
				margin: 60px auto;
			}
			.credit-card {
				position: relative;
				float: left;
				margin: 0 0 20px 4%;
				width: 22%;
				height: 85px;
				img {
					@include position(absolute,0px 0 0 0px);
					opacity: $op;
					width: 100%;
					&:last-child {
						opacity: 0;
					}
				}
				&:hover {
					img:last-child {
						@include trans($tm*2);
						opacity: 1;
					}
				}
				&:first-child {
					margin-left: 0;
				}
			}
			.form div {
				width: 30%;
				margin-left: 30px;
				float: left;
				margin-left: 5%;
				&:first-child {
					margin-left: 0;
				}
				input { width: 90%; padding: 3%; }
				img { opacity: 0; @include transition(linear, $tm); max-width: 100%;  }
				input:focus + img { opacity: 1; @include transition(linear, $tm); }
			}
		}
	}
}