
/************************** Filters **************************/
#search {
	margin-top: 30px;
	height: 61px;
	@include transition(height $tm, opacity $tm*2 $tm*4);
	opacity: 0;
	margin-bottom: 30px;
	overflow: hidden;
	&.view { overflow: visible; }
	form {
		padding-left: 30px;
		input {
			background: $search left center no-repeat, white;
			border-color: $b1 !important;
			background-position: 16px;
			width: 783px;
			line-height: 27px;
			height: 27px;
			padding: 16px 60px;
			font-size: 24px;
			&::-webkit-input-placeholder,&::-webkit-input-placeholder { color: $orange; @include transition(color $tm);}
			&:-moz-placeholder, &::-moz-placeholder { color: $orange; opacity: 1; @include transition(color $tm);}
			&:focus::-webkit-input-placeholder,&:focus::-webkit-input-placeholder { color: $grey; @include transition(color $tm);}
			&:focus:-moz-placeholder, &:focus::-moz-placeholder { color: $grey; opacity: 1; @include transition(color $tm);}
			@include transition(width $tm);
		}
	}
	.trigger {
		float: left;
		line-height: 62px;
		width: 265px;
		text-align: center;
		cursor: pointer;
		color: $mediumgrey;
		i { margin-right: 10px; }
		&:hover {
			color: $darkgrey;
			i { background: $b2; }
		}
		&.view {
			width: 36px;
			margin-left: 30px;
			span { display: none; }
			i {
				@include transform(rotate(180deg));
				margin-right: 0;
			}
		}
	}
	.btn {
		line-height: 29px;
		padding: 16px 32px;
		box-shadow: none;
		font-size: 17.5px;
	}
	.filter {
		margin-left: 30px;
		display: none;
		&.view { display: inline-block; }
	}
	.filter.btn {
		padding: 23px 26px 23px;
	}
	.btn-group {
		height: 65px;
		a {
			height: 55px;
			border-radius: $br;
			padding: 0 15px 0 32px;
			line-height: 55px;
			span {
				display: inline-block;
				width: 92px;
			}
			i { color: white; }
			&:hover, &:active, &:focus { @include clear-efs; }
		}
		&.selected a {
				@include bg-col($mediumgrey, $mediumgrey);
				border-color: $b1;
				span { font-size: 12px; }
				&:hover i { background: $b2; }
		}
		.dropdown-menu {
			width: 172px;
			top: 70px;
			border-radius: 0;
			border: $bs $b1 solid;
			@include clear-mns;
			box-shadow: none;
			.arrow {
				height: 0; width: 0;
				border-style: solid;
				border-width: 0 8px 8px 8px;
				border-color: transparent transparent $b1 transparent;
				@include position(absolute, -11px 80px 0 0);
			}
			li a {
				width: 125px;
				border-radius: 0;
				@include bg-col(white, $grey);
			}
		}
	}
	.btn-group.goals {
		padding: 0;
		& > a {
			padding: 3px 0; width: 100%;
			&:focus { color: white; }
		}
		.dropdown-menu {
			top: 75px;
			.arrow {
				right: 45%;
			}
		}
	}
}
#goals {
	@include transition(opacity $tm*2 $tm*6);
	opacity: 0;
	h2 {
		line-height: 128px;
		background: $arr no-repeat center right;
		font-size: 26px;
	}
	div {
		width: 150px;
		text-align: center;
		&:hover { opacity: .8; @include trans($tm);}
		color: $mediumgrey;
		margin-bottom: 30px;
		span {
			display: block;
			margin-top: 20px;
			line-height: 26px;
		}
		i {
			margin-left: 10px;
			display: none;
		}
		&.chosen {
			color: $green;
			i { display: inline-block; }
		}
	}
	.btn { display: none; }
}