/************************** Intro **************************/
#header-top {
	overflow: hidden !important;
	background: black;
	position: relative;
	.bg {
		@include full();
		@include position(absolute, 0px 0 0 0);
		@include bg-img($bg-header);
		background-position: center;
		background-size: cover;
		@include trans($tm);
	}
	text-shadow: 0px 1px 1px black;
	&.hover .bg {
		opacity: .8;
		@include trans($tm);
	}
	.hero-unit {
		position: relative;
		h1 {
			margin-top: 20px;
			font-weight: normal;
		}
		background: transparent;
		p {
			font-weight: 300;
			color: $grey;
			margin: 40px 0;
		}
		padding: 40px 30px;
		margin-bottom: 0;
		.btn {
			box-shadow: 0px 1px 1px black;
			i { color: white; }
			width: 240px;
		}
	}
	overflow: hidden;
	max-height: 1000px;
	@include transition(max-height $tm, opacity $tm*2 $tm*2);
	opacity: 0;
}