
/************************** Item Cart **************************/
.cart .item {
	float: left;
	background: white;
	opacity: 1;
	margin-top: 20px;
	height: 100px;
	width: 150px;
	margin-right: 20px;
	overflow: visible;
	& > .left {
		float: left;
		width: 100px;
		height: 100px;
		position: relative;
		img {
			height: 70px;
			width: auto;
			max-width: 100px;
			margin: 15px auto;
			display: block; float: none;
			@include trans($tm);
		}
		i.icon-remove {
			@include col($mediumgrey, $darkgrey);
			@include position(absolute, 3px 0 0 3px);
			cursor: pointer;
		}
		.hover {
			color: white;
			width: inherit;
			i.icon-resize-full {
				@include bg-col($mediumgrey,$green);
				cursor: pointer;
				padding: .5em;
				margin: 0 15px;
				&.view {
					display: none;
				}
			}
			@include position(relative,0 0 100px 0);
			text-align: center;
			line-height: 30px;
			font-size: 16px;
			display: none;
			.variants {
				position: relative;
				margin-top: 30px;
				i { color: $darkgrey; }
				span { padding-left: 0; line-height: 16px; height: 16px; }
				span, ul, i { font-size: 14px; }
				ul {
					@include position(absolute, 25px 0 0 19px);
					li { line-height: 16px; height: 16px; }
				}
			}
		}
	}
	& > .right {
		float: left;
		width: 50px;
		height: 100%;
		i {
			color: $darkgrey !important;
			cursor: pointer;
		}
	}
	&:hover {
		& > .left {
			& > img {
				opacity: .2;
				@include filter(grayscale(1));
				@include transform(scale(.85));
				@include trans($tm);
			}
			.hover { display: block; }
		}
	}
	&.touch {
		width: 218px;
		& > .left {
			float: left;
			width: 168px;
			img {
				margin: 0;
				float: left;
			}
			.hover {
				display: block;
				float: right;
				width: 68px;
				position: static;
			}
		}
	}
}