/************************** Item Full **************************/
.item-full {
	z-index: 1050;
	@include position(fixed, -10000% 0 0 0px);
	@include transition(top 0 $tm*2);
	@include full();
	@include perspective(2000);
	&.view {
		@include transition(top 0 0);
		top: 0;
		.box {
			top: 0;
			@include transform(rotateX(0));
		}
		.bg {
			opacity: 1;
		}
	}
	.bg {
		@include full();
		position: absolute;
		opacity: 0;
		@include trans($tm*2);
	}
	.box {
		@include position(relative, -500px 0 0 0);
		@include transform(rotateX(90deg));
		@include transform-style(preserve-3d);
		@include transition(top $tm*2, -webkit-transform $tm*2);
		border: 1px solid $b1;
		width: auto;
		.main {
			position: relative;
			background: white;
			padding: 20px;
			float: right;
			.parameters {
				max-width: 410px;
				h1 {
					@include clear-mns;
				}
				span {
					@include bg-col($mediumgrey,$green);
					display: inline-block;
					padding: 7px 12px;
					border-radius: $br !important;
					color: white;
					margin: 10px 10px 10px 0;
					cursor: pointer;
				}
			}
			.buy {
				margin-bottom: 10px;
				.price, h5 {
					float: left;
				}
				h5 {
					color: $mediumgrey;
					max-width: 200px;
					line-height: 45px;
					margin-left: 20px;
				}
				.cart {
					float: right;
					margin-top: 15px;
					&.view {
						min-width: 410px;
						width: 100%;
					}
					.variant {
						margin: 0 auto;
						padding-left: 20px;
					}
				}
				.cart-choose { width: auto; height: 30px;}
				.qnty {
					@include position(relative,-12px 0 0 0);
					margin-right: 30px;
				}
				.variants, .qnty {
					margin-top: 0;
					display: inline-block;
					height: 30px;
					ul {
						margin-left: 21px;
					}
				}
				.qnty span {
					top: 12px;
				}
			}
		}
		.image {
			position: relative;
			float: right;
			background: white;
			img {
				height: 400px;
				width: auto;
				padding: 50px;
			}
			i {
				@include position(absolute, 14px 14px 0 0);
				cursor: pointer;
			}
		}
	}
	.cart-choose + p {
		cursor: pointer;
		margin-top: 40px;
		display: none;
		text-align: center;
	}
	&.normal {
		.bg { background: $lightgrey85; }
		.box {
			height: 500px;
			margin: 35px auto 0 auto;
			.image {
				height: 500px;
			}
			.main {
				width: 410px;
				height: 460px;
				.desc {
					overflow: hidden;
					position: relative;
				}
				.buy {
					width: 410px;
					margin-top: 10px;
				}
			}
		}
	}
	&.mobile {
		.bg { background: white; }
		.box {
			@include full();
			.image, .main {
				float: none;
			}
			overflow: auto;
			.image {
				img {
					margin: 30px auto 0 auto;
					display: block;
					max-width: 100%;
					height: auto;
				}
				.btn-close {
					@include position(absolute, 20px 20px 0 0);
					padding: 4px 5px 6px 5px;
				}
			}
			.main {
				.desc { height: auto !important; }
				.variants ul {
					@include position(absolute, -80px 0 0 17px);
				}
			}
		}
	}
}