/************************** Item **************************/
div.span4.item {
	width: 368px !important;
}

.item {
	position: relative;
	@include perspective(1000);
	line-height: 0;
	opacity: 0;
	border: 1px solid $b1;
	overflow: hidden;
	@include trans($tm*2);
	&.ready { @include trans(0); }
	.full-toggle, .menu-toggle { cursor: pointer; }
	.wrapper {
		position: relative;
		top: 0;
		@include trans($tm);
		background: white;
		padding: 10px;
		opacity: 1;
		img {
			width: 70%;
			padding: 10% 15%;
			height: auto;
			@include trans($tm);
		}
		.caption {
			background: $w95;
			line-height: 20px;
			padding: 0 10px;
			.view {
				cursor: pointer;
			}
			p {
				display: inline-block;
				margin-bottom: 0;
				a {
					display: block;
					float: left;
					i {
						width: 14px;
						margin: {
							top: 4px;
							left: 12px;
							right: 4px;
						}
						display: block;
						float: left;
					}
					span {
						display: block;
						float: left;
					}
					color: $mediumgrey;
				}
				a:first-child i { margin-left: 0; }
			}
			h3 a {
				color: $verydarkgrey;
				font-weight: 300;
				span {
					font-weight: 400;
					color: $green;
					margin-right: 10px;
				}
			}
		}
		.cart {
			.btn-large + p {
				color: $mediumgrey;
				max-width: 200px;
				margin: 20px auto;
				line-height: 20px;
			}
		}
		.item-buttons {
			@include position(absolute, 20% 0 0 0);
			z-index: 100;
			width: 100%;
			opacity: 0;
			@include trans($tm);
			.options, .cart {
				text-align: center;
				margin: 20px 0;
				.btn-large { padding: 15px 20px; }
			}
			.options {
				button {
					font-size: 18px;
					&:hover {
						@include trans($tm);
					}
					i {
						margin-left: 0;
					}
					border: $bs solid $b2;
					display: inline-block;
					padding: 15px;
					width: 62px;
					height: 62px;
					line-height: 26px;
					text-align: center;
					box-shadow: none;
					margin-right: 10px;
				}
			}
		}
	}
	.menu {
		@include position(absolute, -84px 0px 0 0);
		@include transform(rotateX(90deg));
		@include trans($tm);
		@include transform-style(preserve-3d);
		background: $grey;
		box-shadow: 0 -1px $b1 inset;
		width: 100%;
		height: 168px;
		.nav li {
			padding: 18px 24px;
			&:hover {
				background: $b1;
				color: white;
				.btn-green {
					background: $green;
				}
			}
			a {
				display: inline-block;
				color: $darkgrey;
				&:hover { background: transparent; }
			}
			.btn-green {
				float: right;
				margin-top: -5px;
				border: 0;
				i { margin: {
					left: 0;
					right: 10px;
				}}
			}
		}
		.capt {
			background: $green;
			border-bottom: 1px solid $w2;
			height: 60px;
			width: 100%;
			padding: 0;
			h3 {
				line-height: 60px;
				margin: 0 24px;
				font-weight: 400;
				color: $darkgrey;
			}
			@include position(absolute, 0 0 0px 0);
			.flip-toggle {
				display: block;
				width: 17px;
				float: left;
				margin: 24px 24px;
			}
		}
	}
	.cart-choose + p {
		cursor: pointer;
		margin-top: 20px;
		display: none;
	}
	&.menu {
		overflow: hidden;
		.wrapper {
			top: 168px;
		}
		.menu {
			top: 0;
			@include transform(rotateX(0deg));
			@include trans($tm);
		}
	}
	&:hover {
		.wrapper {
			img {
				opacity: .1;
				@include filter(grayscale(1));
				@include transform(scale(.85));
				@include trans($tm);
			}
			.item-buttons {
				opacity: 1;
			}
			.caption {
				@include trans($tm);
				h3, a { opacity: .4; }
				h3:hover, a:hover {
					opacity: 1;
					text-decoration: none;
					@include trans($tm);
				}
			}
		}
	}
	&.touch {
		.wrapper {
			.caption h3 {
				font-size: 38px;
			}
			.item-buttons {
				opacity: 1;
				position: static;
				.options, .cart {
					font-size: 18px;
					width: 154px;
					margin: 10px;
				}
				.options {
					float: left;
					margin-right: 0;
				}
				.cart {
					float: right;
					.btn { font-size: 18px; }
					margin-left: 0;
				}
			}
		}
		.cart-choose {
			.variants {
				position: absolute;
			}
		}
	}
}

.item .cart-choose, .item-full .cart-choose, .cart .item > .left .hover {
		display: none;
		.variants span, .qnty input {
			font-size: 24px;
			color: $orange;
			background: transparent;
			height: 28px;
			display: inline-block;
			text-align: center;
			@include clear-efs;
			@include clear-bdr;
			@include clear-mns;
		}
		.variants {
			cursor: pointer;
			position: relative;
			span {
				line-height: 40px;
				padding: 0 10px;
				&:hover { opacity: $op; }
			}
			i {
				@include position(relative, -1px 0 0 0);
			}
			ul {
				@include clear-mns();
				margin-left: 10px;
				list-style: none;
				display: none;
				&.view { display: block; }
				z-index: 1000;
				span {
					padding: 0;
					&:hover { opacity: $op; }
				}
			}
			margin-top: 30px;
		}
		.qnty {
			padding-right: 20px;
			span {
				width: 4px;
				display: inline-block;
				@include position(relative, 8px 0 0 0);
			}
			input { 
				width: 40px;
				line-height: 16px;
			}
		}
}

.item .cart-choose .variant, .item-full .cart-choose .variant {
	background: white;
	width: 300px;
	margin: 0 21px;
	border-radius: $br;
	border: $bs $b1 solid;
	&.view {
		border-radius: $br $br $br 0;
	}
	.variants, .qnty, .price {
		float: left;
		margin: 0;
	}
	.variants {
		width: 120px;
		line-height: 35px;
		span { padding: 0 5px;}
		ul {
			@include position(absolute,0 0 0 -13px);
			background: white;
			padding: 0 15px;
			border: 3px $b1 solid;
			border-radius: 0 0 10px 10px;
			border-top: 0;
		}
	}
	.qnty {
		width: 50px;
		@include position(relative, -3px 0 0 0);
		padding: 0;
		input { width: 20px; }
	}
	.price {
		width: 40px;
		font-size: 24px;
		color: $green;
		line-height: 40px;
		margin-left: 20px;
	}
	.remove {
		float: right;
		line-height: 40px;
		width: 10px;
		margin-right: 20px;
		i {
			cursor: pointer;
		}
	}
}

#tiles {
	position: relative;
	.item .front > img {
		width: 100%;
		height: auto;
		position: relative;
	}	
}