@mixin bg-col($color, $color-hover) { /* set colors for backgrounds on normal & hover states */
	@include trans($tm);
	background: $color;
	&:hover { background: $color-hover; }
}

@mixin col($color, $color-hover) { /* set colors for backgrounds on normal & hover states */
	color: $color;
	&:hover {
		color: $color-hover;
		text-decoration: none;
	}
}

@mixin bg-img($img) { /* set image backgrounds */
	background-image: $img;
}

@mixin clear-mns { /* clear margins & padding */
	margin: 0;
	padding: 0;
}

@mixin clear-efs {  /* clear visual effects */
	box-shadow: none;
	outline: 0;
	text-shadow: none; 
}

@mixin clear-efs-i {  /* clear visual effects */
	box-shadow: none !important;
	outline: 0 !important;
	text-shadow: none !important; 
}

@mixin clear-bdr {  /* clear visual effects */
	border: 0;
	border-radius: 0; 
}

@mixin full {  /* set width & height to whole window */
	width: 100%;
	height: 100%;
}

@mixin trans($time) { /* default transition for hover effects */
	&, &:hover { @include transition(linear, $time); }
}

@mixin filter($filter) {
	-webkit-filter: $filter;
   -moz-filter: $filter;
    -ms-filter: $filter;
     -o-filter: $filter;
        filter: $filter;
}