/************************** Navigation Bar **************************/
.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
	background: $w95;
	@include clear-efs;
	.btn-down {
		float: left;
		text-align: center;
		float: right;
		button { width: 100px; }
		span {
			padding: 18px 20px;
			i { cursor: pointer; }
			opacity: 0;
			&.view {
				opacity: 1;
			}
		}
	}
}

.navbar-fixed-top {
	position: relative !important;
	z-index: 1 !important;
	margin: 0;
	.navbar-inner {
		border-bottom: 1px $b1 solid;
		height: 50px;
		line-height: 50px;
		.brand {
			color: $darkgrey;
			font-weight: bold;
			text-transform: uppercase;
			padding: 0 20px;
		}
		.nav {
			li {
				line-height: 30px;
				box-shadow: none;
				border-left: 1px solid $grey;
				a {
					text-shadow: none;
					font-size: 16px;
				}
				@include bg-col(white,$grey);
			}
		}
	}
}