/************************** Responsive Features **************************/
@media (max-width: 499px) {
	#filters {
		min-height: 298px;
	}
	#search {
		height: auto;
		.btn-green.visible-phone, .goals, .btn-group.filter {
			width: 100%;
			float: none;
			margin: 0 0 30px 0;
		}
		.btn-group.filter {
			a, ul {
				width: 100%;
				padding: 0;
				.arrow { right: 45%; }
				li a {
					width: 90%;
					padding: 0 5%;
				}
			}
		}
		.trigger, .trigger.view {
			margin: 0;
			width: 100%;
			clear: both;
			float: none;
		}
	}
	.navbar-fixed-bottom {
		height: 100%;
		background: $lightgrey;
		bottom: -100%;
		.brand { display: none; }
		.navbar-inner {
			position: relative; top: -45px;
			.cart {
				margin-left: 20px;
				.scrolls {
				}
				.item:first-child { margin-left: 0 !important; }
				.item:last-child { margin-bottom: 20px !important; }
			}
		}
		.cart {
			#items-cart {
				@include trans(2*$tm);
				.scrolls .inner {
					height: auto;
					width: 360px !important;
					margin: 0 auto;
				}
				&.view {
					opacity: .2;
					@include filter(grayscale(1));
				}
			}
			#items-cart .scrolls {
				overflow: scroll;
				width: 100%;
			}
			&, #items-cart {
				width: 100% !important;
			}
		}
		.popover {
			@include position(fixed, 20% 0 0 20%);
			background: white;
			width: 60%;
			max-width: 60%;
			float: left;
			.popover-title {
				i.icon-remove {
					color: $darkgrey;
					cursor: pointer;
				}
			}
			.popover-content {
				margin: 0; padding: 5px 5px 10px 5px;
			}
			img {
				max-width: 25%;
			}
			.variant, .rate, .quantity {
				height: 50px;
				width: 25%;
				padding: 0; margin: 0;
			}
			.variant, .rate {
				line-height: 42px;
			}
			.total + i.icon-remove {
				margin: -10px 10px 0 0;
			}
		}
		.summary {
			width: 100% !important;
			border-top: 1px $b2 solid !important;
			button {
				max-width: 100px;
				display: block;
				margin: 0 auto;
			}
			i.icon-caret-left {
				display: block;
			}
		}
	}
	#checkout .container.steps {
		.table {
			.image img { max-height: 40px; }
			h3 { font-size: 14px; }
			h4 { font-size: 12px; }
		}
		.alert {
			border-radius: 10px;
		}
	}
}

@media (min-width: 500px) {
	.navbar-fixed-bottom {
		.bar i.icon-shopping-cart {
			display: none;
		}
	}
}

@media (max-width: 767px) {
	body {
		padding: { left: 0; right: 0; }
	}
	#search {
		height: auto;
		@include transition(height $tm);
		overflow: visible;
		margin: 30px;
		form {
			padding: 0;
			float: none;
			border-right: 1px solid $b1;
			height: 61px;
			overflow: hidden;
			input {
				max-width: 780px;
			}
		}
		.advanced, .goals {
			padding: 20px 0;
		}
		.goals {
			display: block;
			margin-right: 4%;
		}
		.goals, .btn-green.visible-phone {
			padding: 19px 20px;
		}
	}
	#goals {
		display: none;
	}
	#checkout {
		.container {
			margin: 0 20px;
		}
	}
	footer { margin: 0 20px; }
}



@media (min-width: 500px) and (max-width: 767px) {
	#filters {
		min-height: 206px;
	}
	#search {
		.btn-green.visible-phone, .goals {
			width: 48%;
			float: left;
		}
		.btn-group.filter {
			float: right;
			margin: 20px 0 0 52%; 
			width: 48%;
			a, ul {
				width: 100%;
				padding: 0;
				.arrow {
					right: 46%;
				}
				li a {
					width: 90%;
					padding: 0 5%;
				}
			}
			i { margin-right: 20px; }
		}
		.trigger, .trigger.view {
			margin: 0;
			width: 48%;
		}
	}
}

@media (min-width: 767px) {
	#search .goals { display: none; }
}

@media (max-width: 979px) {
	#search {
		.trigger {
			i { @include transform(rotate(-90deg)); }
			&.view i { @include transform(rotate(90deg)); }
		}
	}
	.navbar-fixed-top {
		margin-bottom: 0;
		.navbar-inner {
			padding: 0;
		}
	}
	.navbar-fixed-bottom {
		position: fixed;
		margin: 0 !important;
		.navbar-inner {
			padding: 0;
			.brand, .bar i.icon-shopping-cart { margin-left: 20px; }
		}
		.cart #items-cart {
			width: 80%;
			.item:first-child { margin-left: 20px; }
		}
		.summary {
			border: 0;
			width: 10%;
			padding: 20px 5%;
			box-shadow: 1px 0 $b2 inset;
			.subtotal, button {
				width: 100%;
			}
			button {
				i { margin: 0 !important;}
				span { font-size: 12px; }
			}
		}	
	}
}

@media (min-width: 767px) and (max-width: 979px) {
	.navbar-fixed-top {
		margin-bottom: 0;
		.navbar-inner {
			padding: 0;
		}
	}
	#search {
		input[type="text"] {
			width: 326px;
		}

		.btn-group {
			a { width: 153px; }
			.dropdown-menu {
				width: 198px;
				.arrow {
					right: 90px;
				}
			}
			.dropdown-menu li a { width: 151px; }
		}
	}
	#goals {
		height: 195px;
		.span2 {
			width: 88px;
			i {
				margin: 0 30px;
			}
			img {
				width: 100%;
				height: auto;
			}
		}
	}
}

@media (min-width: 980px) and (max-width: 1200px) {
	#search input[type="text"] {
		width: 538px;
	}
	#goals .span2 {
		width: 114px;
		img {
			width: 100%;
			height: auto;
		}
		margin: 0 0 30px 30px;
		&.chosen span {
			display: inline-block;
			width: 120%;
		}
	}
	.navbar-fixed-bottom .cart #items-cart {
		width: 798px;
	}
}

@media (min-width: 980px) {
	
}

@media (min-width: 1200px) {
	.navbar-fixed-bottom .cart #items-cart {
		width: 1028px;
	}
}