/************************** Veriables **************************/
@import "variables-inc.scss";

/************************** Mixins **************************/
@import "mixins-inc.scss";

/************************** General Styling **************************/
html {
	@include full;
}
body {
	background: $grey;
	padding-bottom: 50px;
	&.view {
		overflow: hidden;
		.navbar-fixed-top, #header-top, #items #tiles, #filters, footer {
			@include filter(grayscale(1));
			@include trans($tm*2);
		}
	}
}
h1,h2,h3,h4 {
	font-weight: normal;
}
body, input, button, select, textarea {
	font-family: $font;
}
.btn, .btn:hover, #header-top, .filter:focus, .filter a:hover, .filter a:active, .filter a:focus, #checkout .left, #checkout .right, .navbar-fixed-bottom.opened .brand, .navbar-fixed-bottom.fixed-opened .brand {
	color: white;
}

#search form, #search .filter, #checkout .left, #checkout .box, #checkout .right, #checkout h1, .cart .item, .cart .item .left {
	float: left;
}
#checkout .left, #checkout .right, #goals div, #checkout-steps .next, #lock {
	cursor: pointer;
}
.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.clearfix:after {clear: both;}
.clearfix {zoom: 1;} /* IE < 8 */

/* Buttons Styling */
.btn {
	@include clear-bdr;
	@include clear-efs;
	font-weight: normal;
	@include bg-col($orange, $darkorange);
	border-radius: $br;
	border: $bs solid $darkorange;
	i {
		margin-left: 5px; color: white;
		&.circle:hover { background: $b1; }
	}
}
.btn.btn-green {
	@include bg-col($mediumgrey, $green);
}
.btn.btn-large {
	font: normal 23px/23px $font;
	padding: 10px 10px 10px 15px;
}
.btn-group {
	a, a:focus { @include bg-col($orange, $darkorange); }
	&.btn-green a, &.btn-green:focus a { @include bg-col($mediumgrey, $green); }
	.dropdown-menu {
		&>li>a:hover, &>li>a:focus { color: $darkgrey; }
	}
}

/* Icon Styling */
i.circle {
	@include bg-col($b1,$b2);
	&:active {
		background: $green;
		color: white;
	}
	display: inline-block;
	width: 1em;
	height: 1em;
	padding: .2em;
	border-radius: $br;
	color: $darkgrey;
	border: $bs solid $b1;
	text-align: center;
}
i.icon-caret-up.circle {
	padding: .15em .15em .25em .25em;
}
i.icon-caret-down.circle {
	padding: .25em .22em .15em .18em;
}
i.icon-caret-right.circle {
	padding: .19em .1em .21em .3em;
}
i.icon-caret-left.circle {
	padding: .19em .25em .21em .15em;
}

/* Form Inputs Styling */
input, input:focus, input:active {
	border-color: $b1;
	@include clear-efs-i;
}

input[type="text"] {
	@include clear-efs;
	border-radius: 0;
	color: $orange;
	&::-webkit-input-placeholder,&::-webkit-input-placeholder { color: $darkgrey; }
	&:-moz-placeholder, &:-moz-placeholder { color: $darkgrey; }
	&:focus::-webkit-input-placeholder,&:focus::-webkit-input-placeholder { color: $grey; }
	&:focus:-moz-placeholder, &:focus:-moz-placeholder { color: $grey; }
}
.error {
	input {
		border-color: $orange !important;
		background: $orange25;
		color: $orange;
		&::-webkit-input-placeholder,&::-webkit-input-placeholder { color: $orange; }
		&:-moz-placeholder, &:-moz-placeholder { color: $orange; }
	}
	span {
		margin-left: 10px;
		color: $orange;
	}
}
div.alert {
	border: 3px $w5 solid;
	background: $orange;
	padding: 10px 20px;
	margin-bottom: 20px;
	border-radius: $br;
	color: white;
}

input[type=radio] {
   border: 5px solid $mediumgrey;
   background: $mediumgrey;
   display: inline-block;
   line-height: 1em;
   margin: 0 0.25em 0 0;
   padding: 0;
   width: 15px;
   height: 15px;
   @include appearance(none);
   border-radius: 100px;
   vertical-align: text-top;
   &:checked {
   	background: white;
   }
}

/************************** Custom **************************/
#checkout .container.steps section[data-name="address"] form p select {
  width: calc(60% + 12px);
}

.error > span {
	display: inline-block;
	line-height: 30px;
	vertical-align: middle;
	margin-bottom: 10px;
}

/************************** Imports **************************/
@import "intro-inc.scss";
@import "item-full-inc.scss";
@import "item-inc.scss";
@import "nav-inc.scss";
@import "cart-inc.scss";
@import "checkout-inc.scss";
@import "item-cart-inc.scss";
@import "filters-inc.scss";
@import "footer-inc.scss";
@import "responsive-inc.scss";