/*******************************/
/************ SETUP ************/
/*******************************/

$tm: .4s; /* time */
$op: .5; /* opacity */
$br: 100px; /* border radius */
$bs: 3px; /* border size */

/*********** /SETUP ************/


/**** Solid Colors ****/
$verydarkgrey: #333;
$darkgrey: #555;
$mediumgrey: #a8a8a8;
$grey: #f9f9f9;
$lightgrey: #fbfbfb;
$orange: #ff6c32;
$darkorange: #F95515;
$green: #6BBE58;

/**** Semi-Transparent Colors ****/
$lightgrey85: rgba(251, 251, 251,.85);
$mediumgrey85: rgba(168,168,168,.85);
$orange85: rgba(255, 108, 50,.85);
$orange25: rgba(255, 108, 50,.25);
$green85: rgba(31,121,0,.85);
/** Blacks **/
/* 0.10: */ $b1: rgba(0,0,0,.1);
/* 0.20: */ $b2: rgba(0,0,0,.2); $b4: rgba(0,0,0,.4);
/** Whites **/
/* 0.20: */  $w2: rgba(255,255,255,.2);
/* 0.50: */ $w5: rgba(255,255,255,.5);
/* 0.80: */ $w8: rgba(255,255,255,.8);
/* 0.95: */ $w95: rgba(255,255,255,.95);

/**** Images ****/
$bg-header: asset-url("bg.jpg");
$search: asset-url("search.png");
$arr: asset-url("arrow.png");

/**** Fonts ****/
$font: 'Lato', sans-serif;